@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "philomath";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFFFF;
  --color-base-200: #F7F7F7;
  --color-base-300: #eeeeee;
  --color-base-content: #18181b;
  --color-primary: #0306BF;
  --color-primary-content: #E0E7FF;
  --color-secondary: #06048E;
  --color-secondary-content: #E0E7FF;
  --color-ternary: #16255A;
  --color-ternary-content: #E0E7FF;
  --color-accent: #FFC200;
  --color-accent-content: oklch(41% 0.112 45.904);
  --color-accent2: #FF6300;
  --color-accent2-content: oklch(41% 0.112 45.904);
  --color-neutral: #09090b;
  --color-neutral-content: #e4e4e7;
  --color-info: #00bafe;
  --color-info-content: #042e49;
  --color-success: #00d390;
  --color-success-content: #004c39;
  --color-warning: #fcb700;
  --color-warning-content: #793205;
  --color-error: #ff627d;
  --color-error-content: #4d0218;
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
@plugin "daisyui/theme" {
  name: "philomath-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #1d232a;
  --color-base-200: #191e24;
  --color-base-300: #15191e;
  --color-base-content: #ecf9ff;
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #FFC200;
  --color-accent-content: #793205;
  --color-neutral: #09090b;
  --color-neutral-content: #e4e4e7;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
